:root{
    box-sizing:border-box;
}
*,
::before,
::after{
    box-sizing:inherit;
}
.nav{
 background-color:white;
}
.card{
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
    color: hsl(210, 15%, 20%);
    box-shadow: 0.2em 0.5em 1em rgba(0, 0, 0, 0.3);
}
.grid-view{
    display:grid;
    grid-template-columns:repeat(5,auto);
    grid-gap:1;
}
.container{
    max-width:1080px;
    margin:auto 0;
}
h2{
    color:white;
   
}
.header{
    min-width:1080px;
}