:root{
    box-sizing:border-box;
}
*,
::before,
::after{
    box-sizing:inherit;
}
.input{
    border-radius:55em;
    border:black solid 1px;
    transition:hover 2s ease-in-out;
    height:2.5em;
    outline:none;
    padding-left:1em;
   
 
}
.register{
    border:solid black .5px;
   margin:0 auto;
   width:500px;
   margin-top:2em;
   padding-left:1em;
   background:white;
}
.login{
    width:480px;
    margin:0 auto;
    border:solid black 1px;
    padding:1em;
    margin-top:3em;
    background:white;
    animation:drop .5s ease-in;
  
}
.wrapper{
    width:100%;
    height:100vh;
    background:lightgray;
    overflow:hidden;
}
.input:hover{
transform:scale(1.01);
border:rgb(6, 6, 247) solid;
}

       .grid-view{
           display:grid;
           grid-template-columns:repeat(5,auto);
           grid-gap:1;
       }
       .container{
           max-width:1080px;
           margin:auto 0;
       }
       
       .isLoading::after{
            border:solid black;
           position:absolute;
           content:"";
           display:block;
           width:3em;
           height:3em;
           top:35%;
           left:50%;
           margin-left:-0.7em;
           margin-top:-0.7em;
           border-top:2px solid white;
           border-radius:50%;
           animation:spin .5s linear infinite;
       }
     
       @keyframes spin{
           0%{
               transform:rotate(0deg);
           }
           100%{
               transform:rotate(360deg);
           }
       }


       @media (min-width:748px){
        .input{
        width:17.3em;
        }
        .account{
            padding-left:2em;
            padding-right:.7em;
        }
      
    
    }
    @media (max-width:748px){
        .input{
            padding:.5em;
        }

        .grid-view{
            grid-template-columns:repeat(2,auto);
        }
        .desc{
             display:flex;
            flex-direction:column;
        }
    }
    @media (min-width:748px) and (max-width:840px){
        .grid-view{
            grid-template-columns:repeat(3,auto);
        }
    }

    @keyframes drop{
        
        from{
            transform:translateY(-200px);
            opacity:0;
        }
        to{
            transform:translateY(10%);
            opacity:1;
        };
    }