:root{
    box-sizing:border-box;
}
*,
::before,
::after{
    box-sizing:inherit;
}
.brand{
   font-size:.9em;
   padding:.5em;
   padding-left:1em;
}
.grid-view{
    display:grid;
    grid-template-columns:repeat(5,auto);
    grid-gap:1;
    padding-top:2.6em;
}
.cart{
    position:absolute;
    top:0;
    right:0;
}
.input{
    border-radius:55em;
    border:black solid 1px;
    transition:hover 2s ease-in-out;
    height:2.5em;
    outline:none;
    padding:1em;
    margin-right:1.1em;
    margin-bottom:.3em;
}
.orders{

    background:rgb(66, 66, 241);
    position:absolute;
    right:1em;
    top:40px;
    color:white;
    font-size:.6em;
    font-weight:bold;
    border-radius:8px;
    padding:.6em;
}
.orders_table{
padding:2em;
}
.orders:hover{
    color:white;
}
svg{
    width:65px;
    height:65px;
    fill:white;
    padding-bottom:1.1em;
    display:none;
    cursor:pointer;
}
.sea-acc{
    display:flex;
    position:absolute;
    right:1em;
    bottom:0;
    color:white;
    font-weight:bold;
}
.account{
   padding-top:.8em;
}
footer{
    height:40px;
    background:black;
    color:white;
    position:fixed;
    bottom:0;
    width:100vw;
}
.register{
   border:solid black .5px;
   margin:0 auto;
   width:410px;
    padding:2em;
   height:520px;
   /* border:solid black 2px; */
  
}
.createAccount{
    overflow:auto;
    height:100vh;
    animation:drop .7s ease-in;
}
.forms-brandName{
  font-size:.6em;
  font-weight:bold;
  background:gray;
  width:63px;
  padding:.3em;
  color:white;
   /* border:solid black 2px; */
}
.checkout-form{
    border:black 1px solid;
    width:400px;
    margin:0 auto;
    padding:2em;
    height:670px;
}
.checkout-form h2{
    font-size:1.7em;
}
.login{
    position:relative;
    width:440px;
    margin:0 auto;
    border:solid black .5px;
    padding:2em;
    margin-top:3em;
    background:white;
    animation:drop .7s ease-in;
  }
  .register-success-message{
      display:absolute;
      width:400px;
      height:500px;
  }
  /* .google-login-btn{
    position:absolute;
   top:11.7em;
   right:2.5em;
    font-size:.8em;
    font-weight:bold;
    color:black;
    border:1px solid black;
    width:140px;
    text-align:center;
   border-radius:3px;
}
.google-login-btn:hover{
   text-decoration:none;
   transform:scale(1.01);
} */
.copyright{
    position:absolute;
    top:70%;
    left:40%;
    font-size:.7em;
}


.cartdetails-container{
    margin-top:2em;
    width:960px;
    margin:0 auto;
    padding-top:2em;
}
.cartdetails-container h2{
    font-size:1.6em;
}
.cartdetails-container h2::before{
    content:'';
    /* display:block; */
    width:50px;
    position:absolute;
    top:3.3em;
    border:rgb(0, 140, 255) 3px solid;
}

li{
    list-style:none;
}
a{
    text-decoration:none;
    padding:.4em;
}
.links:hover{
    background:grey;
    border-radius:10px;
}

.horizontal-menu{
    width:600px;
    padding-top:.4em;
    margin-left:-1.7em;
    display:flex;
    /* display:unset; */
    /* border:solid white 2px; */

}

.dropdown{
    background:black;
    width:200px;
    height:100%;
    padding-left:.3em;
    display:flex;
    flex-direction:column;
    margin-left:-2.5em;
    margin-top:-1.3em;
     /* border:solid white 2px; */
     display:none;
    
}
.item-page{
    overflow:hidden;
    margin:0 auto;
    padding:2em;
    margin:2em;
     /* border:solid black 2px; */
}
.price-cta{
    margin-left:2em;
}
.item-page img{
    width:350px;
    height:350px;
    float:center;
}
@media(max-width:1070px){
   .horizontal-menu{
       display:none;
   }
   .dropdown{
       display:flex;
   }
    .createAccount{
        overflow-y:auto;
        overflow-x:hidden;
        padding:2em;
    }
    footer{
        height:30px;
        width:100vw;
    }

svg{
    display:unset;
}
.item-page{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:20%;
}
.description ul{
    /* border:solid black 2px; */
    padding-left:0;
    margin-top:2em;
    
}
.price-cta{
margin-left:0;
 /* border:solid black 2px; */
}
}
.input:hover{
transform:scale(1.01);
border:rgb(6, 6, 247) solid;
}
.container{
           max-width:1080px;
           margin:auto 0;
         }
       
       .isLoading::after{
            border:solid black;
           position:absolute;
           content:"";
           display:block;
           width:3em;
           height:3em;
           top:35%;
           left:50%;
           margin-left:-0.7em;
           margin-top:-0.7em;
           border-top:2px solid white;
           border-radius:50%;
           animation:spin .5s linear infinite;
       }
     
       @keyframes spin{
           0%{
               transform:rotate(0deg);
           }
           100%{
               transform:rotate(360deg);
           }
       }


       @media (min-width:748px){
        .input{
        width:17.3em;
        }
        .account{
            padding-left:2em;
            padding-right:.7em;
        }
  
    
    }
    @media (max-width:748px){
        .input{
            padding:.5em;
        }

        .grid-view{
            grid-template-columns:repeat(2,auto);
        }
        .desc{
             display:flex;
            flex-direction:column;
        }
    }
   
    @media (min-width:748px) and (max-width:840px){
        .grid-view{
            grid-template-columns:repeat(3,auto);
        }
    }

    @keyframes drop{
        
        0%{
             opacity:0;
            transform:scale(.1);
        }
        30%{
            transform:scale(.3);
        }
        50%{
            transform:scale(.5);
            transform:translateY(0px);

        }
        100%{
            transform:scale(1);
            /* transform:translate(10%); */
            opacity:1;
        };
    }